
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Yantramanav', sans-serif;
    color: black;
}

.clearfix::after{

    content: " ";
    display: table;
    clear: both;
    

}


ul{

    display: ruby;
    list-style: none;
}

.fl{

    float: left;
}

.fr{
    float: right;


}



.logo{
    width: 25%;
    height: 60px;
    padding-top: 2px;

}
    
button{
    padding: 10px;
    border: none;
    align-self: flex-start;
    background-color: blue;
    color: white;
    


}

.menu
{
    width: 35%;
    height: 60px;
    color: white;
    display: flex;
}

nav .menu li{
margin-left: 20px;
display: inline-block;
padding-top:7px ;

}


header
{
    height: 9vh;
    position: relative;
    
}

nav{

    width: 100%;
    padding-top: 20px;
    text-align: center;
    margin: auto;
    position: fixed;
    background-color: white;
}


.jumbo{
    background-size: cover;
    width: 29%;
}







.contenitore
{
    width: 100%;
    text-align: center;
    background-color: #a3b7db;
    display: flow-root;
    height: 32%;
    
}


span{
    display: flex;
    justify-content: center;
   

}


h1{
    text-align: center;
}

p{
    width: 35%;
    align-self: center;
    padding: 4%;

}




main{
    margin: 5%;
    display: flow-root;
}



input{
    margin: 3%;
}

/*********Colonne******/

.section-a{
    display: flex;
}


.colonne{
    background-color: white;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.colonna-a{
    width: 100%;
    margin: 10px;
    list-style: none;
    border: ridge;
}

.colonna-b{
    margin: 1%;
    width: 100%;
    list-style: none;
    border: ridge;
}


.colonna-c{
    width: 100%;
    margin: 10px;
    list-style: none;
    border: ridge;
   
}

.border-a{
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: ridge;
    width: 94%;
}

/********2 colonna*******/


.colonna-d{
    list-style: none;
    border: ridge;
    justify-content: right;
    text-align: end;
}





.colonna-e{
    width: 100%;
    list-style: none;
    text-align: left;
}


.border-b{
    height: 2rem;
    text-align: center;
    border: ridge;
}


/*******Photo*******/


.partner{
    width: 29%;




}

.box{
    margin: 2;
    display: flex;

}



.colonna-f{
    width: 35%;
    align-self: center;
    padding: 4%;
    list-style: none;
}




